{
  "sudoers": {
    "logs": "log-viewer"
  },
  "service": {
    "server": "bind"
  },
  "users": {
    "alice": {
      "zones": [
        "example.com",
        "example.net"
      ]
    },
    "bob": {
      "zones": [
        "example.org"
      ]
    }
  }
}
