---

system:
  log_access_user: log-viewer
  server_type: knot
  # server_user: knot
  # systemd_unit: knot.service
users:
  alice:
    zones:
      - example.com
      - example.net
  bob:
    zones:
      - example.org
