---

system:
  journalctl_user: szh-logviewer
  login_user: zones
  server_type: bind
  # server_user: bind
  # systemd_unit: named.service
users:
  alice@example.com:
    ssh_keys:
      - sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tBOGUSBOGUSBOGUSBOGUSTt2VCdi+71D9Neo7e+5TzXsBpkWpAAAABHNzaDo= nano@laptop
    zones:
      - example.com
      - example.net
  bob@example.org:
    zones:
      - example.org
